/* COMMON */
* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    background-color: #EEEEEE;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: 'Heebo', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.img-cover{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);                                                                 
    z-index:2;
 }


 .imgContent h1{
    padding: 5px 10px;
	text-align: center;
	position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
    z-index: 4;
    color: white;
    font-size: 30px;
}

.imgContent .move{
    animation-name: arrow-move;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

.imgContent .move a{
    font-size: 30px;
    color:white;
}

@keyframes arrow-move {
    from { transform : translate(0, 0px); } 
    to   { transform : translate(0, 10px);} 
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

/* HEADER */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fade {
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

@-webkit-keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

.header-area.navbar-fixed {
    position: fixed;
}

.header-area > .navbar {
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-area > .navbar {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .header-area > .navbar {
        max-width: 1000px;
    }    
}

.header-area > .navbar > .navbar-brand {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
}

.header-area > .navbar > .navbar-toggler * {
    font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    cursor: pointer;
}

@media(min-width: 992px) {
    .header-area > .navbar > .navbar-toggler {
        display: none;
    }
}

.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
    height: 260px;
}

.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
}

.header-area > .navbar > .navbar-menu > .nav-item .nav-link:hover{
    color: #F7D060;
}

.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    display: block;
    padding-left: 50px;
    color: white;
    cursor: pointer;
}

@media (min-width: 992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .navbar > .navbar-menu.show {
        height: auto;
    }

    .header-area > .navbar > .navbar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area > .navbar > .navbar-menu > .nav-item:hover * {
        background-color: transparent;
    }

    .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/* SECTION CONTAINER */
.main-container {
	max-width: 1000px;
	margin: 0 auto;
}

/* WELCOME AREA */
.main-container > .container {
	position: relative;
	height: 100%;
}

.main-container > .container > .main-image {
	height: 100%;
}

.main-container > .container > .fade {
	animation-name: fade;
	animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to   {opacity: 1}
}

/* SECTION */

.about-area {
    height : auto;
    padding : 20px 0;
    /* position: relative; */
}

.title {
    margin-top: 50px;
    display: inline-block;
    width: 100%;;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 50px;
}

.title::after {
    content: "";
    display: block;
    width: 200px;
    height:5px;
    margin: 0 auto;
    border: 1px solid #F7D060;
    background-color: #F7D060;
}



.about-area > .picture {
    display: block;
    text-align: center;
    padding: 20px;
}

@media (min-width : 992px) {
    .about-area > .picture {
        width: calc(40% - 40px);
        display: inline-block;
    }
}

.about-area > .picture > img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 15px;
}

.about-area > .picture > .name {
    font-size:  25px;
    text-align: center;
    padding : 15px 0;
}

.about-area > .picture > .description {
    font-size:  14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about-area > .text {
    display: block;
    padding: 30px;
}

.about-area  .desc {
    display: block;
    font-size: 15px;
}


@media (min-width: 992px) {
    .about-area > .text {
        width: calc(60% - 100px);
        display: inline-block;
        padding: 0 50px;
    }
}

.about-area > .text * {
    font-size: 16px;
}

.about-area > .text > .intro {
    padding : 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1.5px;
}

.about-area > .text > ul {
	padding: 20px 0;
}

.about-area > .text > ul > li {
    height : 40px;
}

.about-area > .text > ul > li  > .info{ /* 설장 색깔 바꿔주려고 */
    color: #777;
}

.about-area > .text > ul > li  > .info > i{ /* 아이콘 색깔 바꾸려고 */
    color: #F7D060;
}


.footer-area {
    height: auto;
    text-align: center;
    background-color: #454545;
}

.footer-area * {
    color: white;
}

.footer-area > .sns .item{
    display: inline-block;
    padding : 10px;
    cursor: pointer;
}

.footer-area > .sns .item i{
    font-size: 30px;
}


.footer-area > .info > p {
    font-size: 20px;
    padding: 10px 0;
}

